
* {
-fx-font-family: "NanumGothic";
}

.pane {
-fx-background-color: #C71585;
}

.menuPain {
-fx-background-color: #FF6347;
}

.label {
-fx-text-fill: #F4A460;
}

#mainTitle {
-fx-text-fill: yellow;
}

.button {
-fx-text-fill: white;
-fx-font-weight: bold;
-fx-background-color: 	#FFD700;
}

.button:hover {
-fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.pane #employeeManager {
-fx-background-color: #7B68EE;
}

.pane .text {
	-fx-text-fill: white;
}